.refunds-date
	background-color: #f1f1f1
	box-shadow: $shadow2
	appearance: none
	height: 45px
	padding: 11px 50px
	background: #f1f1f1 url('../img/b2b/date-icon.png') no-repeat
	background-position-x: 10px
	background-position-y: 10px
	position: relative
	font-family: $m_font
	font-size: 20px
	&::-webkit-inner-spin-button
		display: none
	&::after
		content: ""
		width: 45px
		height: 45px
		position: absolute
		top: 0
		right: 0
		cursor: pointer
		background: $green url('../img/b2b/date-search.png') no-repeat
	&::-webkit-calendar-picker-indicator
		position: absolute
		left: 10px
		top: 10px
		color: $green
		cursor: pointer
		&:hover
			background-color: transparent

.refunds-table
	text-align: left
	width: 1643px
	margin: 0 auto
	border-spacing: 0
	margin-bottom: 20px
	th
		&:nth-child(1)
			width: 296px
		&:nth-child(2)
			width: 572px

.refunds-table__head
	font-size: 24px

.refunds-table__row
	font-size: 18px
	height: 89px
	&:hover
		background-color: $green
		color: #fff

.refunds-undertable
	padding: 0 50px
	font-size: 24px
	font-weight: 700
	.color-green
		font-size: 22px
		font-weight: 600
		margin-left: 75px

	.b2b-top, .b2b-subtop, .b2b-catalog__search
		padding-left: 15px
		padding-right: 15px

	.b2b-header__notifications, .b2b-header__cart
		margin-right: 20px

	.b2b-header__cashout
		padding: 20px 10px
		margin-right: 20px

	.b2b-header__user
		margin-right: 20px

	.b2b-header__user a img
		margin-right: 10px

	.b2b-header
		padding-right: 15px
	.b2b-header__cashout-hover
		padding: 20px 10px
		width: 306px

	.b2b-subtop__select-left
		.catalog__right-select
			min-width: 150px

	.b2b-subtop__select
		.catalog__right-select
			min-width: 70px
